<div class="col-sm-8 col-sm-offset-2">
  <br>
    <div class="signupbox">
      <%= form_for @business, :html => { :multipart => true, :id => "business-form" } do |f| %>
      <!-- #todo -->
      <!-- maybe it would be a good idea to have this form really short and have it where they can edit it later so they can quickly create their profile before getting bogged down with writing all this information -->
        <%= f.label :busines_name, "Business Name" %>:
        <%= f.text_field :business_name, class:"form-control", placeholder: "ex. ScanForKeeps",required: true %><br />
        <%= f.label :address, "Address" %>:
        <%= f.text_field :address, class:"form-control", placeholder: "ex. 1234 Abc Ave. San Francisco, CA 12345" %>
        <p class="help-block">All businesses must have a store front</p><br />
        <%= f.label :category, "Type of Business" %>:
        <%= f.text_field :category, class:"form-control", placeholder: "ex. Media Preservation Service"%><br />
        <%= f.label :website, "Website Url" %>:
        <%= f.text_field :website, class:"form-control", placeholder: "ex. www.scanforkeeps.com" %>
        <p class="help-block">If you don't have one yet, you could still add it later</p> <br>
        <%= f.label :introduction, "Introduction" %>:
        <%= f.text_area :introduction , class:"form-control", placeholder: "Hi, we're ScanForKeeps and we're excited to opening up soon to help you digitize your media!"%><br />
        <!-- # todo -->
        <!-- add a date picker for when the business is expected to open up -->
        <%= f.label :avatar, "Upload Your Logo" %>
        <br>
        <br>
        <%= f.file_field :avatar , class:"btn" %>
        <p class="help-block">Max size 10MB</p>
				
        <br>
        <% if @business.user_id == session[:user_id] %>
          <%= f.submit "Submit Changes", class:"btn btn-primary" %>
          <%= link_to "Delete Business Page",  @business, method: :delete, class: "btn btn-dark pull-right"  %>
        <% else %>
          <%= f.submit "Add Your Business", class:"btn btn-primary" %>
          <p class="help-block"><center>You will still be able to make changes after submitting</center></p> 
        <% end %>
      <% end %>
      <br>
      <br>
    </div>
  </div>
</div>

