<div class="container">

	<!-- progress bar that only business owner can see-->
	<% if  current_user && current_user.businesses.include?(@business) %>
		<% if @business_progress >= 13 %>
			<div class="progress">
				<!-- # todo add jquery to get this to disappear -->
		  	<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" background-color="gold">
		    	<small>You're A Business Warrior!</small>
		  	</div>
			</div>
		<% else %>
			<!-- if number is below 14 (max # of form fields in both deals info and business info) -->
			<div class="progress">
				<!-- # todo add jquery to get this to disappear -->
		  	<div class="progress-bar" role="progressbar" aria-valuenow="<%= @business_progress / 14.to_f * 100 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @business_progress / 14.to_f * 100 %>%;">
		    <%= (@business_progress / 14.to_f * 100).to_i %>%
		  	</div>
			</div>
		<% end %>
	<% end %>

	<!-- # todo Add user cover page -->
	<div class="row">

		<!-- Business Info -->
	  <div class="col-md-3">
	  	Hello
	    <% if @business.avatar %>
	    	<%= image_tag @business.avatar.url(:medium) %>
	    <% else %>
	    	<% if  current_user && current_user.businesses.include?(@business) %>
	    		<a><%= link_to "Add Your Logo!", edit_business_path(@business), class: "btn btn-default form-control" %></a>
	    	<% else %>
	    		<p class="well">Logo is currently being designed</p>
	    	<% end %>
	    <% end %>
	    <h4>Location</h4>	
	    <% if @business.address %>
	    	<%= @business.address %>
	    <% else %>
	    	<% if  current_user && current_user.businesses.include?(@business) %>
	    		<a><%= link_to "Add Your Address!", edit_business_path(@business), class: "btn btn-default form-control" %></a>
	    	<% else %>
	    		<p class="well">We'll be posting our address soon!</p>
	    	<% end %>
	    <% end %>
	    <hr>
	    <h4>Website</h4>	
	    <!-- #todo use regex to take out everything before the www. -->
	    <% if @business.website %>
	    	<a href= "http://<%= @business.website %>"><%= @business.website %></a>
	    <% else %>
	    	<% if  current_user && current_user.businesses.include?(@business) %>
	    		<a><%= link_to "Add Your Website!", edit_business_path(@business), class: "btn btn-default form-control" %></a>
	    	<% else %>
	    		<p class="well">We'll linking our address soon!</p>
	    	<% end %>
	    <% end %>
	    <hr>
	    <% if @business.category %>
	    	<h4>Type of Business</h4>
	    	<%= @business.category %>
	    	<hr>
	    <% else %>
	    	<% if  current_user && current_user.businesses.include?(@business) %>
	    		<a><%= link_to "Add Category", edit_business_path(@business), class: "btn btn-default form-control" %></a>
	    		<hr>
	    	<% end %>
	    <% end %>
	    <h4>Date Added</h4>
	    <%= @business.created_at.strftime("%b %d %Y") %>
	    <hr>
	  </div>

	  <!-- Business Name & Description -->
	  <div class="col-md-9">
	  	<div class="panel panel-success">
	  		<div class="panel-heading">
	  			<h1><%= @business.business_name %></h1>
	  		</div>
				<div class="panel-body">
					<% if @business.introduction %>
						<p><%= @business.introduction %></p>
					<% else %>
						<% if  current_user && current_user.businesses.include?(@business) %>
							<a><%= link_to "Add A Description!", edit_business_path(@business), class: "btn btn-default form-control" %></a>
						<% else %>
							<p class="well">We'll adding a description soon!</p>
						<% end %>
					<% end %>
	  		</div>
	  	</div>


	  	<!-- Deals -->
	  	<div class="panel panel-primary">
	  		<div class="panel-heading">
	  			<h2>Exclusive Pre-Opening Sale<% if @business.user.id == session[:user_id] %>
  			<%= link_to "Add A Deal", new_business_deal_path(@business), class: "btn btn-default pull-right" %>
			<% end %></h2>
	  		</div>
	  		<% if @business.deals.any? %>
	  			<% @business.deals.each do |deal| %>
			  		<div class="row">
			  			<div class="panel-body">
			  				<div class="col-md-3">
			  					<br>
			  					<% if deal.avatar %>
			  						<%= image_tag deal.avatar.url(:medium) %>
			  					<% else %>
			  						<% if  current_user && current_user.businesses.deals.include?(deal) %>
			  							<a><%= link_to "Add A Photo!", edit_business_deal_path(@business, deal), class: "btn btn-default form-control" %></a>
			  						<% else %>
			  							<p class="well">Photo coming soon</p>
			  						<% end %>
			  					<% end %>
			  				</div>
			  				<div class="col-md-7">
			  					<h4><%= deal.name %>
			  					<% if @business.user.id == session[:user_id] %>
			  						<%= link_to "", edit_business_deal_path(@business, deal), class:"glyphicon glyphicon-edit" %>
			  					<% end %></h4>
			  					<% if deal.name2 %>
			  						<p class="help-block"><%= deal.name2 %></p>
			  					<% end %>
			  					<% if deal.details %>
			  							<p><%= deal.details %></p>
			  					<% else %>
			  						<br>
			  						<br>
			  						<% if  current_user && current_user.businesses.include?(@business) %>
			  							<a><%= link_to "Add More Info", edit_business_deal_path(@business, deal), class: "btn btn-default" %></a>
			  						<% end %>
			  					<% end %>
			  				

			  				</div>
			  				<div class="col-md-2">
			  					<h4><span class="pull-right">$<%= deal.price %></span></h4>
			  					<br>
			  					<p class="help-block"><span class="pull-right">Value $<%= deal.value %></span></p>
			  					<br>
			  					<br>
			  					<button class="btn btn-primary pull-right">Buy!</button>
			  					<br>
			  					<br>
			  				</div>
			  			</div>
			  			<hr>
			  		</div>
		  		<% end %>
		  	<% else %>
		  		<div class="row">
		  			<div class="panel-body">
		  				<div class="col-md-12">
		  					<h4><center>No deals are currently available <p class="help-block">Don't miss out, make sure to check again soon!</p></center></h4>
		  				</div>
		  			</div>
		  		</div>
	  		<% end %>
	  	</div>

	  	<!-- show edit button only to business owner -->
	  </div>
	</div>
	<% if current_user && current_user.businesses.include?(@business) %>
	  <%= link_to "Edit Your Business", edit_business_path(@business), class: "btn btn-default form-control" %>
	<% end %>
	<br>
	<br>
	<br>
</div>

<% if false %>
			<% if @npo.tasks.any? %>
				<h3>Looking For Developer Help:</h3> <br>
	    	<% @npo.tasks.each do |task| %>
	    	<div class="well">
	  			<p>Project:  <%= link_to task.issue, npo_task_path(@npo, task) %></p>
	  			<p>Description: <%= task.description %></p>
  				<% if @npo.user.id == session[:user_id] %>
  					<%= link_to "Edit Issue", edit_npo_task_path(@npo, task) %>
  				<% end %>
  				<% if logged_in? %>
  					<% if current_user.is_npo == false %>
  			 			<%= form_for :project, url: projects_path do |f| %>
								<%= f.hidden_field :task_id, class: "form-control", value: task.id%>
								<%= f.hidden_field :status, class: "form-control", value: "Pending"%>
								<%= f.submit "Interested!", class: "btn btn-primary" %>
           		<% end %>
        		<% end %>
        	<% end %>
	  		</div>
	  		<% end %>
	  		<% if @npo.user.id == session[:user_id] %>
	  			<%= link_to "Add A Task", new_npo_task_path(@npo), class: "btn btn-primary" %>
				<% end %>
			<% else %>
			<h3>No Tasks Currently Available</h3>
           <% if @npo.user.id == session[:user_id] %>
          <%= link_to "Add A Task", new_npo_task_path(@npo), class: "btn btn-primary" %>
        <% end %>
	  	<% end %>
      <center>
<% end %>


