<div class="container">
	<div class="row">
	  <div class="col-md-3">
	    <% if @business.avatar %>
	    	<%= image_tag @business.avatar.url(:medium) %>
	    <% else %>
	    	<% if  current_user && current_user.businesses.include?(@business) %>
	    		<a><%= link_to "Add Your Logo!", edit_business_path(@business), class: "btn btn-default form-control" %></a>
	    	<% else %>
	    		<p class="well">Logo is currently being designed</p>
	    	<% end %>
	    <% end %>
	    <h4>Location</h4>	
	    <%= @business.address %>
	    <hr>
	    <h4>Website</h4>	
	    <!-- #todo use regex to take out everything before the www. -->
	    <a href= "http://<%= @business.website %>"><%= @business.website %></a>
	    <hr>
	    <h4>Category</h4>
	    <%= @business.category %>
	    <hr>
	    <h4>Date Added</h4>
	    <%= @business.created_at.strftime("%b %d %Y") %>
	  </div>
	  <div class="col-md-9">
	  	<div class="panel panel-primary">
	  		<div class="panel-heading">
	  			<h1><%= @business.business_name %></h1>
	  		</div>
	  	</div>
	  	<p><%= @business.introduction %></p>
	  	<hr>
	  	<div class="panel panel-success">
	  		<div class="panel-heading">
	  			<h2>Pre-Opening Deals</h2>
	  		</div>
	  		<div class="row">
	  			<div class="panel-body">
	  				<div class="col-md-3">
	  					<br>
							<p>Photo goes here</p>
	  				</div>
	  				<div class="col-md-7">
	  					<h4>1lb of Jacobs Wonderbar</h4>
	  					<p class="help-block">Dark Roast Blends</p>
	  					<p>named in honor of philz only son jacob. each memorable sip boasts delicious layers of nuts and chocolate filled with a full-bodied flavor and finished without any acidity or bitterness. jacobs wonderbar brew is a dark roast favorite!</p>
	  				</div>
	  				<div class="col-md-2">
	  					<h4 class="pull-right">$7.00</h4>
	  					<p class="help-block pull-right">Value $14.95</p>
	  					<br>
	  					<br>
	  					<br>
	  					<br>
	  					<button class="btn btn-success pull-right">Buy!</button>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
	</div>
	<% if current_user && current_user.businesses.include?(@business) %>
	  <%= link_to "Edit Your Business", edit_business_path(@business), class: "btn btn-default form-control" %>
	<% end %>
	<br>
	<br>
	<br>
</div>


