<div class="container">
  <div class="row">
    <div class="col-md-3">
      <br>
    	<%= image_tag current_user.avatar.url(:medium) %>
    </div>
    <div class="col-md-9">
      <div class="panel panel-danger class">
        <div class="panel-heading">
          <h1>Hello <%= current_user.user_name %></h1>
        </div>
      <!-- <div class="panel-body"> -->
        <div class="col-md-6">
          <br>  
          <p><strong>Businesses Backed:</strong> 4</p>
          <p><strong>Date Joined:</strong> <%= current_user.created_at %></p>
        </div>
        <div class="col-md-6">
          <br>
          <p><strong>Email:</strong> <%= current_user.email %></p>
          <%= link_to "Edit Your Profile", edit_profile_path, class: "btn btn-default" %> <%= link_to "Add Your Business", new_business_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <br>
  <br>  
  <div class="row">
    <% if current_user.businesses.any? %>
    <div class="col-md-12">
      <div class="panel panel-info">
      <div class="panel-heading">
      <h1><center>Your Business</center></h1>
      </div>
      </div>
        <% current_user.businesses.each do |business| %>
          <h4><%= image_tag business.avatar.url(:thumb)%>
          <%= link_to business.business_name, business_path(business) %>

          <span class="pull-right small">Date Added: <%= business.created_at %></span></h4>
          <!-- count of people interested in the business could go here -->
          <p><%= nil %></p>
        <% end %>
      <% end %>
      <hr>
      <br>
      <br>
    </div>
    <br>

      
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1><center>Businesses Backed</center></h1>
        </div>
        <!-- <div class="panel-body"> -->
          
        <!-- </div> -->
      </div>
      <h4><%= image_tag current_user.avatar.url(:medium) %> test<h4>
    </div>
  </div>
</div>

