<!DOCTYPE html>
<html>
<head>
  <title>Local Launcher</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- navbar -->
	<div class="simple-nav">
		<div class="container-fluid">
	  <a><h3><%= link_to "LocalLauncher", root_path, class: "pull-left" %></h3></a>
	  <% if current_user %>
	    <%= link_to "Logout", logout_path, class: "pull-right" %>
	    <span class= "pull-right">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
	    <%= link_to "Profile ", profile_path, class: "pull-right" %>
	  <% else %>
	    <%= link_to "Sign Up", signup_path, class: "pull-right" %>
			<span class = "pull-right">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
	    <%= link_to "Log In", login_path, class: "pull-right" %>
	  <% end %>
	  <span class = "pull-right">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
	  <a><%= link_to "Businesses", businesses_path, class: "pull-right" %></a>
	  <% if false %>
	  <span class = "pull-right">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
	  <a><%= link_to "Deals", deals_path, class: "pull-right" %></a>
	  <% end %>
	  <br>
		<hr>
	</div>

	<div class="container">
		
		<!-- flash message -->
	  <% flash.each do |name, msg| %>
	    <%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
	    <br>
	    <br>
	  <% end %>
	</div>

		<!-- views will be added here -->
	  <%= yield %>

	</div>



	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<!-- CJ: I would put these scripts above your application js b/c they most likely need to be loaded before your custom scripts -->
	<!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- jquery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

</body>
</html>
